# Python cache files
__pycache__/
*.pyc

# Environment variables
.env

# Django database
db.sqlite3

# Static and media files
/static/
/media/

# IDE/editor files
.vscode/
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

.env 
